/* font-family */
/* font-size */
/* font-style */
/* font-weight */

/*
    color
    text-transform,
    text-decoration
*/

/* 
    text-align 
    line-height    
*/

/* 
    letter-spacing
    word-spacing
*/

/* Títulos */

h1 {
    /* genéricos */
    /* font-family: monospace; */
    font-family: monospace;
    font-size: 3rem;
    color: slateblue;
    text-transform: uppercase;
}

/* Paragráfos */

p {
    /* nome da família + genéricos */
    /* fallback */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.italic {
    font-style: italic;
    font-weight: bold;
}